-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: localhost    Database: recruitment_startup
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `first_name` varchar(50) DEFAULT NULL,
  `last_name` varchar(50) DEFAULT NULL,
  `phone_number` varchar(50) DEFAULT NULL,
  `city` varchar(50) DEFAULT NULL,
  `postal_code` varchar(50) DEFAULT NULL,
  `status` int unsigned DEFAULT NULL,
  `cv_url` varchar(200) DEFAULT NULL,
  `is_review` int DEFAULT NULL,
  `is_match` int DEFAULT NULL,
  `is_contacted` int DEFAULT NULL,
  `is_rejected` int DEFAULT NULL,
  `score` int DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `job_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `conversation_id` varchar(50) DEFAULT NULL,
  `country` varchar(50) DEFAULT NULL,
  `is_notification_email` int DEFAULT NULL,
  `is_notification_sms` int DEFAULT NULL,
  `publisher_id` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campaign`
--

DROP TABLE IF EXISTS `campaign`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campaign` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `campaign_name` varchar(50) DEFAULT NULL,
  `budget_total` int DEFAULT NULL,
  `unit_budget` varchar(50) DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `close_date` datetime DEFAULT NULL,
  `campaign_status` int DEFAULT NULL,
  `background_status` int DEFAULT NULL,
  `pacing_unit` varchar(50) DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `number_of_pacing` int DEFAULT NULL,
  `recommend_budget` int DEFAULT NULL,
  `import_xml_url` varchar(128) DEFAULT NULL,
  `bid_set` varchar(50) DEFAULT NULL,
  `ats_type` varchar(50) DEFAULT NULL,
  `ats_data` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campaign`
--

LOCK TABLES `campaign` WRITE;
/*!40000 ALTER TABLE `campaign` DISABLE KEYS */;
/*!40000 ALTER TABLE `campaign` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `is_agree_conditon` int DEFAULT NULL,
  `is_agree_sign_deal` int DEFAULT NULL,
  `sign_deal_user` varchar(50) DEFAULT NULL,
  `billing_id` int DEFAULT NULL,
  `manage_type` int DEFAULT NULL,
  `customer_type` int DEFAULT NULL,
  `status` int DEFAULT NULL,
  `publisher_id` int DEFAULT NULL,
  `flat_rate` varchar(50) DEFAULT NULL,
  `percentage_of_click` varchar(50) DEFAULT NULL,
  `logo` varchar(200) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversation`
--

DROP TABLE IF EXISTS `conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversation` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `description` varchar(200) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversation`
--

LOCK TABLES `conversation` WRITE;
/*!40000 ALTER TABLE `conversation` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `id` int DEFAULT NULL,
  `job_id` int DEFAULT NULL,
  `dates` date DEFAULT NULL,
  `hours` int DEFAULT NULL,
  `disqualified_application` int DEFAULT NULL,
  `qualified_application` int DEFAULT NULL,
  `conversion` int DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `group_id` int DEFAULT NULL,
  `campaign_id` int DEFAULT NULL,
  `publisher_id` int DEFAULT NULL,
  `bid_set` double DEFAULT NULL,
  `clicks` int DEFAULT NULL,
  `impressions` varchar(50) DEFAULT NULL,
  `spend_hour` double DEFAULT NULL,
  `sources` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group`
--

DROP TABLE IF EXISTS `group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `name` varchar(80) DEFAULT NULL,
  `budget_group` int DEFAULT NULL,
  `status` int DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `campaign_id` int DEFAULT NULL,
  `number_of_pacing` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group`
--

LOCK TABLES `group` WRITE;
/*!40000 ALTER TABLE `group` DISABLE KEYS */;
/*!40000 ALTER TABLE `group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job`
--

DROP TABLE IF EXISTS `job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `title` varchar(50) DEFAULT NULL,
  `description` varchar(1024) DEFAULT NULL,
  `work_schedule` varchar(50) DEFAULT NULL,
  `radius_unit` varchar(50) DEFAULT NULL,
  `location_state` varchar(200) DEFAULT NULL,
  `location_list` varchar(200) DEFAULT NULL,
  `role_location` varchar(200) DEFAULT NULL,
  `resume_option` varchar(50) DEFAULT NULL,
  `budget` int DEFAULT NULL,
  `status` int DEFAULT NULL,
  `error` varchar(50) DEFAULT NULL,
  `template_question_id` int DEFAULT NULL,
  `template_question_name` varchar(50) DEFAULT NULL,
  `question_form_description` varchar(50) DEFAULT NULL,
  `redirect_url` varchar(64) DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `close_date` datetime DEFAULT NULL,
  `group_id` int DEFAULT NULL,
  `minor_id` int DEFAULT NULL,
  `campaign_id` int DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `history_status` int DEFAULT NULL,
  `ref_id` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job`
--

LOCK TABLES `job` WRITE;
/*!40000 ALTER TABLE `job` DISABLE KEYS */;
/*!40000 ALTER TABLE `job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_publisher`
--

DROP TABLE IF EXISTS `master_publisher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_publisher` (
  `id` int DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_date` datetime DEFAULT NULL,
  `last_modified_by` varchar(50) DEFAULT NULL,
  `last_modified_date` datetime DEFAULT NULL,
  `is_active` int DEFAULT NULL,
  `publisher_name` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `access_token` varchar(200) DEFAULT NULL,
  `publisher_type` int DEFAULT NULL,
  `publisher_status` int DEFAULT NULL,
  `publisher_frequency` int DEFAULT NULL,
  `curency` int DEFAULT NULL,
  `time_zone` varchar(100) DEFAULT NULL,
  `cpc_increment` int DEFAULT NULL,
  `bid_reading` int DEFAULT NULL,
  `min_bid` int DEFAULT NULL,
  `max_bid` int DEFAULT NULL,
  `countries` varchar(50) DEFAULT NULL,
  `data_sharing` varchar(200) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_publisher`
--

LOCK TABLES `master_publisher` WRITE;
/*!40000 ALTER TABLE `master_publisher` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_publisher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `view_hourly_trend`
--

DROP TABLE IF EXISTS `view_hourly_trend`;
/*!50001 DROP VIEW IF EXISTS `view_hourly_trend`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_hourly_trend` AS SELECT 
 1 AS `metric_time`,
 1 AS `updated_at`,
 1 AS `traffic_volume`,
 1 AS `application_volume`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_job_funnel`
--

DROP TABLE IF EXISTS `view_job_funnel`;
/*!50001 DROP VIEW IF EXISTS `view_job_funnel`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_job_funnel` AS SELECT 
 1 AS `job_id`,
 1 AS `dates`,
 1 AS `total_clicks`,
 1 AS `total_apps`,
 1 AS `total_qualified`,
 1 AS `conversion_rate`,
 1 AS `qualification_rate`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_marketing_roi`
--

DROP TABLE IF EXISTS `view_marketing_roi`;
/*!50001 DROP VIEW IF EXISTS `view_marketing_roi`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_marketing_roi` AS SELECT 
 1 AS `publisher_name`,
 1 AS `publisher_id`,
 1 AS `dates`,
 1 AS `total_spend`,
 1 AS `cpc`,
 1 AS `cpa`,
 1 AS `cpql`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_hourly_trend`
--

/*!50001 DROP VIEW IF EXISTS `view_hourly_trend`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`recruitment_user`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `view_hourly_trend` AS select cast(concat(`events`.`dates`,' ',`events`.`hours`,':00:00') as datetime(6)) AS `metric_time`,`events`.`updated_at` AS `updated_at`,sum(`events`.`clicks`) AS `traffic_volume`,sum(`events`.`conversion`) AS `application_volume` from `events` group by cast(concat(`events`.`dates`,' ',`events`.`hours`,':00:00') as datetime(6)),`events`.`updated_at` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_job_funnel`
--

/*!50001 DROP VIEW IF EXISTS `view_job_funnel`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`recruitment_user`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `view_job_funnel` AS select `events`.`job_id` AS `job_id`,`events`.`dates` AS `dates`,coalesce(sum(`events`.`clicks`),0) AS `total_clicks`,coalesce(sum(`events`.`conversion`),0) AS `total_apps`,(case when (coalesce(sum(`events`.`qualified_application`),0) > coalesce(sum(`events`.`conversion`),0)) then 0 else coalesce(sum(`events`.`qualified_application`),0) end) AS `total_qualified`,coalesce(if((sum(`events`.`clicks`) > 0),((sum(`events`.`conversion`) / sum(`events`.`clicks`)) * 100),0),0) AS `conversion_rate`,coalesce(if((sum(`events`.`conversion`) > 0),(((case when (coalesce(sum(`events`.`qualified_application`),0) > coalesce(sum(`events`.`conversion`),0)) then 0 else coalesce(sum(`events`.`qualified_application`),0) end) / sum(`events`.`conversion`)) * 100),0),0) AS `qualification_rate` from `events` group by `events`.`job_id`,`events`.`dates` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_marketing_roi`
--

/*!50001 DROP VIEW IF EXISTS `view_marketing_roi`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`recruitment_user`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `view_marketing_roi` AS select `p`.`publisher_name` AS `publisher_name`,`e`.`publisher_id` AS `publisher_id`,`e`.`dates` AS `dates`,sum(`e`.`spend_hour`) AS `total_spend`,if((sum(`e`.`clicks`) > 0),(sum(`e`.`spend_hour`) / sum(`e`.`clicks`)),0) AS `cpc`,if((sum(`e`.`conversion`) > 0),(sum(`e`.`spend_hour`) / sum(`e`.`conversion`)),0) AS `cpa`,if((sum(`e`.`qualified_application`) > 0),(sum(`e`.`spend_hour`) / sum(`e`.`qualified_application`)),0) AS `cpql` from (`events` `e` left join `master_publisher` `p` on((`e`.`publisher_id` = `p`.`id`))) group by `e`.`publisher_id`,`p`.`publisher_name`,`e`.`dates` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-28  7:16:04
